title {
	font-weight: bold;
}


body {

	font-family: 'Montserrat', sans-serif;
	background-color: white;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    
	
}

body p {
	line-height: 1.4;
}



.topnav {
  
  background-color: white;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 999;

 
}

.topnav a {
  
  background-color: white;
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 0 0.5rem 0.5rem 0.5rem;
  margin: 1% 1.5% 0% 1%;
  font-size: calc(14px + 0.5vw);
  text-decoration: none;
 
}

 .topnav a:hover {

  background-color: white;
  color: #4D4D4D;


}

.topnav a.active {

	background-color: white;
    color: #C83C92;
    border-bottom: 0.15rem solid black;
}


.fa-bars {
	font-size: calc(20px + 2.5vw);
	top: 0;
	
}


.topnav .icon {
  display: none;

}

@media screen and (max-width: 700px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;


  }
}

@media screen and (max-width: 700px) {
  .topnav.responsive {position: sticky;
  	top: 0;
  }
  .topnav.responsive .icon {
    position: fixed;
    display: block;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
  }

  .design h2:hover, .writing h2:hover {
  	color: black;

  }

  h1 {
  	font-size: 80%; 
  }

  #myDesigns {
  	display: none;

  }

  #myWriting {
  	display: none;
  }
}


.banner {
	  
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 12vh;
    width: 100%;
    height: 60vh;
    overflow: hidden;

  }
    
.content {

	text-transform: lowercase;
	display: flex;
	justify-content: space-around;

}


/*.typewriter {

	display: inline-flex;
	flex-wrap: wrap;
	text-transform: lowercase;
    font-family: Courier, monospace;
    font-size: calc(20px + 1.5vw);
   	font-weight: 0;
    color: #7E8894; /*#8F8F8F; */
    


h1 {

	font-family: Courier, monospace;
	color: #D361A7;/*#C83C92;/* #D361A7; */
	font-size: calc(30px + 1.5vw); 
	font-weight: 100;
	margin-bottom: 0;

}


.p1 {

	font-family: Courier, monospace;
    font-size: calc(16px + 1.5vw);
	color: #7E8894;
	display: inline-flex;
	animation: waiting 0.5s;
	
}

.p2 {

	font-family: Courier, monospace;
    font-size: calc(16px + 1.5vw);
	color: #7E8894;
	display: inline-flex;
	animation: waiting 1.5s;
	
}

.p3 {	

	font-family: Courier, monospace;
    font-size: calc(16px + 1.5vw);
	color: #7E8894;
	display: inline-flex;
	animation: waiting 2.5s;
}

@keyframes waiting {
	0% {
        max-width: 100%;
        opacity: 0;
	}
	25% {
		max-width: 100%;
		opacity: 25%;
	}

	50% { 
		opacity: 0;
		max-width: 100%;
		
	}

	100% {
		opacity: 1;
		max-width: 100%;
		
  }  
}
 
.arrow {
  margin: 0 auto;
  height: calc(30px + 1.5vw);
  width: calc(30px + 1.5vw); 
  border-style: solid;
  border-color: #8F8F8F;
  border-width: 0 0.5em 0.5em 0;
  opacity: 0.5;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  animation: animate 3s forwards;

}


@keyframes animate {
	0% {
		opacity: 0;
	}

	25% { 
		opacity: 0; 
	}

	50% {
		opacity: 0;
	}

	75% {
		opacity: 0.5;
		border-width: 0.5em 0.5em 0.5em 0.5em;
	}

	100% {
		opacity: 1 forwards;
}
}

/* @media screen and (max-width: 700px) {
	.banner h1 {margin-left: 5%;}
	.typewriter p {margin-left: 1%;}
	
} */

.designpadding {
	background-color: white;
	width: 100%;

}

.design h2 { 

	margin-top: 15vh;
	color: #8F8F8F;
	background-color: white;
	font-size: calc(16px + 4vw);
	font-weight: 400;
	border-bottom: solid #D361A7 0.13rem; 
	margin-right: 20%;
	margin-left: 20%;
	letter-spacing: 0.4rem;
	padding-left: 0.4rem;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	
 }

.writingpadding {
	background-color: white;
	margin-top: 12%;
}

.writing {
	padding: 0;
}



 .writing h2 {

	color: #8F8F8F;
	background-color: white;
	font-size: calc(16px + 4vw);
	font-weight: 400;
	border-bottom: solid #D361A7 0.13rem;
	margin-right: 20%;
	margin-left: 20%;
	letter-spacing: 0.4rem;
	padding-left: 0.4rem;
	display: flex;
	text-align: center;
	justify-content: center;
	text-transform: uppercase;
 
 }


 .row {

  position: relative;
  text-align: center;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 1%;
  margin-bottom: 2%;
}

/* Creates three equal columns that sit next to each other */
.column {

  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  padding: 0 0.25%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 540px;
  
}

.column a{

	text-decoration: none;
}

.wrap {
	border: solid #ededed; 
	border-radius: 1%;
	border-width: 0.16rem; 
	background-color: #fafafa; 
	background
	padding-bottom: 2%;
	
}

.norway-pic {

  backface-visibility: hidden;
  vertical-align: middle;
  height: auto;
  width: 100%;
  max-width: 1400px;
  overflow: hidden;

}

#demo {
    background: #FFF;
 }

.columnpics {
  opacity: 1;
  transition: .5s ease;
  transform: scale(1);
  backface-visibility: hidden;
  vertical-align: middle;
  height: auto;
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
}

#background {

	background: black;
}


@media screen and (max-width: 900px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 100%;
    margin-bottom: 10%;
    margin-right: 5%;
    margin-left: 5%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    margin-bottom: 10%;
    margin-right: 5%;
    margin-left: 5%;
  }
}


.columnpics:hover {
	transform: scale(1.01);
	opacity: 0.3;
}


 .columntext {

  display: block;
  color: black;
  text-align: left;
  margin-left: 5%;
  margin-right: 3%;

} 

.columntext a {
	text-decoration: none;
	color: black;
}

.columntext h3 {

  font-size: calc(18px + 0.5vw);
  font-style: bold;

}

.columntext h3:hover {

	color: #C83C92;
}

.columntext p {
	font-size: calc(14px + 0.5vw);
}


.tags {

  list-style: none;
  list-style-type: none;
  margin-left: 5%;
  overflow: hidden; 
  padding: 0;
}


.tags li {

	position: relative;
	float: left;
	margin-top: 1%;

}

.tag {

  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 15px 0 10px;
  position: relative;
  margin: 0 10px 2px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  
  border-radius: 10px;
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {

  background: #fafafa;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.click-here {
	text-decoration: underline !important;
}


.about-body {

	background-color: white;
}


.about-photo {

	margin-top: 10vh;
	display: block;
	margin-right: auto;
	margin-left: auto;
	
	
}

.mini-header p {
	
	display: flex;
	justify-content: center;
	align-content: center;
	font-family: Courier, monospace;
	color: #C83C92;
	letter-spacing: 0.05em;
	font-size: calc(22px + 0.5vw);
	
}

.aboutme {

	margin: 0 5vw 7vh 7vw;
	display: inline-block;
	font-size: calc(16px + 0.5vw);
}


.footer {
	padding: 1% 2% 1% 2%;
	background-color: #f5f5f5;
	display: block; /* keeps linkedin circle even */
	text-align: center;
	text-decoration: none;
}

.footer a {
	text-decoration: none;
	display: inline-block;
	font-size: calc(12px + 1.5vw);
	margin: 1% 0.5% 0 0.5%;
	color: black;
}

.timeline-wrapper {
  background-color: white;
  position: sticky;
  top: 0;
} 

 .progress-container {
  width: 100%;
  margin-top: 0;
  height: 6px;
  background: #f0f0f0;
}

 .progress-bar {
  height: 6px;
  background: #C83C92;
  width: 0%;
}


.list-items {
  font-size: 18px;
  background-color: white;
}


.list-items li {
  display: inline-block;
  white-space: nowrap;
  margin-top: 0;
}


.list-items a:hover {
  color: #C83C92;
}


.list-items a {
  color: #a9a9a9;
}

.list-items ul, .list-items a {
  width: 95%;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-around;
  margin-bottom: 0.5%;
}

#overview, #uresearch, #wireframes, #mockups, #originaldesign, #finaldesign {
  padding-top: 15%;
}

.back-arrow {
  margin: 5% 0 0 5%;
  height: calc(10px + 1.5vw);
  width: calc(10px + 1.5vw); 
  border-style: solid;
  border-color: #8F8F8F;
  border-width: 0 0 0.3em 0.3em;
  opacity: 0.5;
  transform: rotate(45deg);

}

.back-arrow a {
	text-decoration: none;
	color: white;
	margin-left: 0;
}

.back-arrow:hover{
	border-color: #C83C92;
	opacity: 1;
}

.meetup-header {

	font-family: 'Montserrat', sans-serif;
	font-size: calc(18px + 4vw);
	font-weight: 300;
	text-align: center;
	color: #C83C92;
    padding-bottom: 1%;
    margin: 31vh 0 31vh 0;
}


.center-box {

	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 7%;
}


.center-box div {

	width: 50%;
	margin-top: 10%;
}

.center-box h2, .text h2 {

	font-size: 2rem;
}

.center-box p, li, .text p, li {

	font-size: 1.15rem;
}

.caption {

	text-align: center;
	color: #a9a9a9;
}

.balsamiq {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.balsamiq img {

	width: 75%;
	height: auto;
	margin-top: 5%;
	margin-bottom: 0;

}


.flex-container {

	
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 1% 1% 1% 1%;
	
}


.mockup-img { 

	width: 25vw;

 }

.add-svg {
	display: inline-block;
	width: 1rem;
	margin: 0 0 0 0.5%;
}



.text {
	margin: 2% 5% 2% 5%;

}

.Original {

	display: flex;
	flex-direction: column;
	column-gap: 0;
	justify-content: center;
	align-items: center;
	
}

.Original h2 {

	margin-bottom: 5%;
}

.Original img {

	width: 75%;
	margin-bottom: 5%;

	
}


.return-home {
	text-align: center;
}

.return-home a:hover {
	color: #C83C92;
}


.return-home a {
	text-decoration: none;
	color: black;
}

@media screen and (max-width: 1200px){
	.timeline-wrapper {
		display: none;
	}

	 .text {
	 	display: block;
	 }

	 .center-box {
	 	  margin-left: 3%;
	 }

	 .center-box div {
	 	width: 100%;
	 }

	 .balsamiq img {
	 	width: 100%;
	 }

	 .Original img {
	 	width: 100%;
	 }
} 

@media screen and (max-width: 859px) {
	.timeline-wrapper {
		display: none;
	}
	.flex-container { 
	     display: block; }

	 .flex-container img {
	 	width: 75%;
	 	margin-left: 10%;

	 }

	 .center-box {
	 	  display: block;
	 	  margin-left: 3%;
	 }

	 .text {
	 	display: block;
	 }

	 .center-box div {
	 	width: 100%;
	 }

	 .balsamiq img {
	 	width: 100%;
	 }

	 .Original img {
	 	width: 100%;
	 }

} 


